<let/picked="red">

<div>Picked: ${picked}</div>
<input#blue-pill
  type="radio"
  value="blue"
  checkedValue:=picked
>
<label for="blue-pill">Blue pill</label>

<input#red-pill
  type="radio"
  value="red"
  checkedValue:=picked
>
<label for="red-pill">Red pill</label>
