<h1.title>I am red</h1>
<button style={ fontSize: "10rem" }>I am a button</button>

<style> /* TODO: the Vue example uses style scoping, maybe we should show ours off too here */
  .title {
    color: red;
  }
</style>
