---
import Layout from "../layouts/BaseLayout.svelte"
import fs from 'node:fs/promises';
import Section from "../components/Section.astro"
import { packageDirectory } from 'pkg-dir';

const rootDir = await packageDirectory()
const contentURL = `${rootDir}/content`
const sectionNames = await fs.readdir(contentURL)
---
<script src="../hash-change-on-headings.js" />
<Layout>
    <div class="space-y-10">
        {sectionNames.map((sectionName) => 
            <Section path={`${contentURL}/${sectionName}`} />
        )}
    </div>
</Layout>