---
import Layout from "../layouts/BaseLayout.astro"
import fs from 'node:fs/promises';
import Section from "../components/Section.astro"
import { packageDirectory } from 'pkg-dir';

const rootDir = await packageDirectory()
const contentURL = `${rootDir}/content`
const sectionNames = await fs.readdir(contentURL)
---
<Layout>
    <div class="space-y-12">
        {sectionNames.map((sectionName) => 
            <Section path={`${contentURL}/${sectionName}`} />
        )}
    </div>
</Layout>