---
import fs from 'node:fs/promises';
import { packageDirectory } from 'pkg-dir';

import Layout from '@/layouts/BaseLayout.astro';
import Section from '@/components/Section.astro';

const rootDir = await packageDirectory();
const contentURL = `${rootDir}/content`;
const sectionNames = await fs.readdir(contentURL);
---

<Layout>
	<div class="space-y-12">
		{sectionNames.map((sectionName) => <Section path={`${contentURL}/${sectionName}`} />)}
	</div>
</Layout>
