static const colors = [
  { id: 1, text: "red" },
  { id: 2, text: "blue" },
  { id: 3, text: "green" },
  { id: 4, text: "gray", isDisabled: true },
];
<let/selectedColorId=2>

<select value:=selectedColorId>
  <for|{ id, isDisabled, text }| of=colors>
    <option value=id disabled=isDisabled>
      ${text}
    </option>
  </for>
</select>
