---
import fs from 'node:fs/promises';
import nodePath from "node:path"
import { Code, Markdown } from "astro/components"

const { path } = Astro.props

const parsedPath = nodePath.parse(path)
const ext = parsedPath.ext.split(".").pop()
const content = await fs.readFile(path, "utf-8")
---

<div>
    {
        ext === "md" ? (
            <Markdown set:html={content} />
        ) : (
            <>
                <div class="bg-gray-800 py-1.5 px-3 text-xs rounded-t inline-block">
                    {parsedPath.base}
                </div>
                <Code code={content} lang={ext} />
            </>
        )
    }
</div>


