@import "tailwindcss";
@plugin "@iconify/tailwind4";
@plugin "@iconify/tailwind4" {
  prefix: "iconify";
  prefixes: ph, simple-icons;
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@supports (backdrop-filter: blur(10px)) {
  [class*="bg-"].backdrop-blur {
    background-color: rgba(0, 0, 0, 0);
  }
}

.no-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.no-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
html {
  scroll-padding-top: 60px; /* Approximate Header height with a horizontal scrollbar. */
}
