<html lang="en">
  <head>
  <meta name="viewport" content="width=device-width">
    <title>Component Party</title>
    <link rel="icon" href="/favicon.png">
    <meta name="description" content="Web component JS frameworks overview by their syntax and features.">
  </head>
  <body class="prose w-full mx-auto py-20"> 
    <slot />
  </body>
</html>