---
// src/layouts/BaseLayout.astro
// 1. The content prop gives access to frontmatter data
const { content } = Astro.props;
---

<html>
  <head>
  <meta name="viewport" content="width=device-width">
    <!-- Add other Head elements here, like styles and meta tags. -->
    <title>Component Party</title>
    <meta name="description" content="Web component JS frameworks overview by their syntax and features.">
  </head>
  <body class="prose w-full mx-auto py-20"> 
    <slot />
  </body>
</html>