<context/{ username, email, updateUsername } from="App"/>
<div>
  <h2>My Profile</h2>
  <p>Username: ${username}</p>
  <p>Email: ${email}</p>
  <button onClick() { updateUsername("Jane") }>
    Update username to Jane
  </button>
</div>
